<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinnSystemsConsignmentConnectionString"
            connectionString="Data Source=SAMSUNGLAPTOP\SQLEXPRESS;Initial Catalog=LinnSystemsConsignment;Persist Security Info=True;User ID=LinnSystems;Password=LinnSystems"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>